.navbar-brand {
  width: 250px;
}

.navbar-toggler-right {
  right: 0;
}

.sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  .sidenav-toggler {
    display: flex;
  }
}

#sidenavToggler {
  cursor: pointer;
}

#sidenavToggler i {
  font-weight: 800;
}